<div class="max-w-4xl mx-auto">
  <!-- Header and Wizard Steps -->
  <%= render 'wizard_header', meeting: meeting %>

  <!-- Form Content -->
  <div class="bg-white rounded-lg shadow-sm border border-gray-200">
    <% case @step %>
    <% when 'meeting' %>
      <%= render 'meeting_step', meeting: meeting %>
    <% when 'content' %>
      <%= render 'content_step', meeting: meeting %>
    <% when 'agenda' %>
      <%= render 'agenda_step', meeting: meeting %>
    <% end %>
  </div>
</div>
